# Dependencies
node_modules/
kalasetu-frontend/node_modules
kalasetu-backend/node_modules

# Build folders
dist/
kalasetu-frontend/dist/

# Environment files (CRITICAL)
.env
.env.*
*.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and IDE files
.DS_Store
.vscode/